<!DOCTYPE html>
{% load static %}
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
</head>
<body class="body">
    <header>
        <div class="row text-center companies">
            <div class="col-sm-6 row fab"> 
                <div class="ghost"></div>          
                <div class="col-sm-4 surname">Fabrizio Palpon</div> 
                <div class="col-sm-7 label">dal 1989 Onestà Qualità Garanzia</div>
            </div>
            <div class="col-sm-6 row company_name">
                <div class="col-sm-3"></div>
                <div class="col-sm-2"><b>ENTERPRISE</b></div>
                <div class="col-sm-3"><b>PALPONSERVICE</b></div>
                <div class="col-sm-2"><b>PALPONGOMME</b></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-11">Vendita & Assistenza Automobili</div>
            </div>
        </div>
        <menu class="main row">
            <a href="#" class="col-sm-2">Presentiamoci</a>
            <a href="#" class="col-sm-2">Perchè noi</a>
            <a href="#" class="col-sm-2">Paga con comodo</a>
            <a href="#" class="col-sm-2">Entra in contatto</a>
            <a href="#" class="col-sm-2">Service</a>
            <a href="#" class="col-sm-1">Blog</a>
            <a href="#" class="col-sm-1">TV</a>
        </menu>
    </header>
{% block content %}{% endblock %}
</body>
</html>